<div class="shadow">
   <footer class="footer">

      <!-- Left Column-->
      <p class="label-big contact">Elérhetőségeink</p>

      <p class="label-small phone-label">TELEFON</p>
      <p class="data phone">+3630 994 5777</p>

      <p class="label-small email-label">EMAIL</p>
      <p class="data email">WESTKORBT@GMAIL.COM</p>

      <p class="label-small location-label">CÍM</p>
      <p class="data location">SZEKSZÁRD, PÁSKUM UTCA 2.</p>

      <!-- Middle Column -->
      <p class="label-big open">Nyitvatartás</p>

      <p class="label-small first-opening-label">HÉT.-PÉN.</p>
      <p class="data first-opening">8:00 - 17:00</p>

      <p class="label-small second-opening-label">SZOMBAT</p>
      <p class="data second-opening">8:00 - 10:00</p>

      <p class="label-small third-opening-label">VASÁRNAP</p>
      <p class="data third-opening">ZÁRVA</p>

      <!-- Right Column -->
      <p class="label-big information">Információ</p>

      <a class="delivery">SZÁLLÍTÁS</a>
      <a class="return">VISSZÁRU</a>
   </footer>
</div>

