<div class="shadow">
   <footer class="footer">
      <div class="inner-container">
         
         <div class="column">
            <h3>Elérhetőségeink</h3>

            <p>TELEFON<span>+36 30 994 5777</span></p>
            <p>EMAIL<span>westkorbt@gmail.com</span></p>
            <p>CÍM<span>Szekszárd, Mátyás király utca 70.</span></p>
         </div>

         <div class="column">
            <h3>Nyitvatartás</h3>

            <p>HÉT. - PÉN.<span>8:00 - 16:00</span></p>
            <p>SZOMBAT<span>8:00 - 11:00</span></p>
            <p>VASÁRNAP<span>ZÁRVA</span></p>
         </div>

         <div class="column">
            <h3>Információ</h3>

            <p class="link" routerLink="/main">FŐOLDAL</p>
            <p class="link" routerLink="/offer">ÁRAJÁNLAT KÉRÉS</p>
         </div>

      </div>
   </footer>
</div>