.table {
   width: 100%;
}

.table th {
   text-align: left;
}

.table th.center {
   text-align: center;
}

.product-img {
   height: 70px;
}

.info-container {
   line-height: 30%;
   margin-top: -8px;
}

.price-container {
   line-height: 10%;
   text-align: center;
   margin-right: 20px;
   font-weight: 500;
}

.price {
   font-size: 18px;
   color: var(--color-primary);
   font-weight: 500;
}

.net-price {
   color: #666666;
   font-size: 11px;
}

.part-number {
   width: fit-content;
   font-size: 18px;
   color: #444444;
   font-weight: 500;
   cursor: pointer;
}

.part-number:hover {
   color: var(--color-primary);
}

.name {
   color: #444444;
   margin-top: -1px;
   font-weight: 500;
}

.brand {
   font-size: 13px;
   font-weight: 500;
   color: #7a7a7a;
}

.total-row {
   height: 50px;
}

.total-column {
   border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.quarter-container {
   width: 44%;
   max-height: 98px;
   float: left;
   margin: 20px;
   text-align: center;
}

.quarter-title {
   color: #a6a6a6;
   margin: 0 0 2px 0;
}

.quarter-text-container > p {
   margin: 0;
}

.dialog-close-button {
   float: right;
   clear: both;
   margin-right: 40px;
   padding: 0px 40px;
}