<br><br>

<div *ngIf="!isSignedIn">
    <mat-card class="card card-login">
        <h2>Bejelentkezés</h2>

        <!-- Form fields (LOGIN)-->
        <div style="font-size: 16px">

            <form [formGroup]="formGroup" novalidate>

               <!-- Email -->
               <mat-form-field class="form-field" appearance="legacy">
                  <mat-label>E-mail cím</mat-label>
                  <input matInput #signinEmail placeholder="nagy.attila@gmail.com" maxlength="64" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>

               <br>
            
                <!-- Password - 1 -->
                <mat-form-field class="form-field" appearance="legacy">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" #signinPassword maxlength="64" formControlName="password" (input)="onPasswordInput()" required>
                    <mat-error *ngIf="password?.hasError('required')">Kérlek add meg a jelszavad</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">A jelszónak minimum {{passwordMinimum}} karakterből kell állnia</mat-error>
                </mat-form-field>

                <br>

                <!-- Password - 2 -->
                <mat-form-field class="form-field" appearance="legacy">
                    <mat-label>Jelszó újra</mat-label>
                    <input matInput type="password" maxlength="64" formControlName="password2" (input)="onPasswordInput()" required>
                    <mat-error *ngIf="password2?.hasError('required')">Kérlek ismételd meg a jelszavad</mat-error>
                    <mat-error *ngIf="password2?.invalid && !password2?.hasError('required')">A jelszavak nem egyeznek meg</mat-error>
                </mat-form-field>

                <button mat-icon-button class="" color="warn" [disabled]="formGroup.invalid" (click)="signIn(signinEmail.value, signinPassword.value)">Bejelentkezés</button>

            </form>
            

        </div>

        
    </mat-card>
    
</div>

<mat-divider [vertical]="true"></mat-divider>

<div *ngIf="!isSignedIn">
    <mat-card class="card card-signup">
        <h2>Regisztráció</h2>
        <input type="text" #signupEmail/>
        <input type="text" #signupPassword/>
        <button (click)="signUp(signupEmail.value, signupPassword.value)">Regisztráció</button>
    </mat-card>
</div>

<app-profile *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-profile>