


<div style="top: 0px;">
   <h2>
      AAAAAAAAAAAAAAAAAAAAAAAA
   </h2>
</div>

<div *ngIf="!isSignedIn">
    <mat-card class="card card-login">
        <h2 class="main-label">Bejelentkezés</h2>

        <!-- Form fields (LOGIN) -->
        <div style="font-size: 18px">
            <form [formGroup]="loginForm" novalidate>

               <mat-divider class="divider"></mat-divider>

               <!-- Email (LOGIN) -->
               <mat-form-field class="form-element top-push" appearance="outline">
                  <mat-label>E-mail cím</mat-label>
                  <input matInput #loginEmail placeholder="nagy.attila@gmail.com" maxlength="64" formControlName="loginEmail" required>
               </mat-form-field><br>
            
                <!-- Password (LOGIN) -->
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" #loginPassword maxlength="64" formControlName="loginPassword" required>
                </mat-form-field><br>

                <!-- Remember me (LOGIN) -->
                <mat-checkbox class="side-push small-font" color="warn">Emlékezz rám</mat-checkbox><br><br>

                <!-- Login button -->
                <button mat-raised-button class="side-push button" color="warn" (click)="login(loginEmail.value, loginPassword.value)">Bejelentkezés</button>
                <mat-error *ngIf="loginError != ''" class="top-push side-push"> {{ loginError }}</mat-error>

            </form>
        </div>

        
    </mat-card>
    
</div>

<div *ngIf="!isSignedIn">
    <mat-card class="card card-signup">
      <h2 class="main-label">Regisztráció</h2>

      <!-- Form fields (SIGN UP)-->
      <div style="font-size: 18px">
          <form [formGroup]="signUpForm" novalidate>

             <mat-divider class="divider"></mat-divider>

             <!-- Email (SIGN UP) -->
             <mat-form-field class="form-element top-push" appearance="outline">
                <mat-label>E-mail cím</mat-label>
                <input matInput #signupEmail placeholder="nagy.attila@gmail.com" maxlength="64" formControlName="signUpEmail" required>
             </mat-form-field><br>
          
              <!-- Password - 1 (SIGN UP) -->
              <mat-form-field class="form-element" appearance="outline">
                  <mat-label>Jelszó</mat-label>
                  <input matInput type="password" #signupPassword maxlength="64" formControlName="signUpPassword" (input)="onPasswordInput()" required>
              </mat-form-field><br>

              <!-- Password - 2 (SIGN UP) -->
              <mat-form-field class="form-element" appearance="outline">
                  <mat-label>Jelszó újra</mat-label>
                  <input matInput type="password" maxlength="64" formControlName="signUpPasswordAgain" (input)="onPasswordInput()" required>
              </mat-form-field><br>

              <!-- Sign Up button -->
              <button mat-raised-button class="side-push button" color="warn" (click)="signUp(signupEmail.value, signupPassword.value)">Regisztráció</button>
              <mat-error *ngIf="signUpError != ''" class="top-push side-push"> {{ signUpError }}</mat-error>

          </form>
      </div>
    </mat-card>
</div>

<app-profile *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-profile>