<div class="login-container">

   <!-- Login section -->
   <mat-card class="card card-login">
      <h2 class="main-label">Bejelentkezés</h2>
      <mat-divider class="divider"></mat-divider>

      <!-- Form fields (LOGIN) -->
      <div class="form-container">
         <form [formGroup]="loginForm" novalidate>
            <div *ngIf="!loginLoading">

               <!-- Email -->
               <input type="email" #loginEmail placeholder="E-mail cím" maxlength="64" formControlName="loginEmail" required>

               <!-- Password -->
               <input type="password" #loginPassword placeholder="Jelszó" maxlength="64" formControlName="loginPassword" required>

               <!-- Remember me -->
               <mat-checkbox class="checkbox" color="accent" #rememberMe>Emlékezz rám</mat-checkbox><br>

               <!-- Login button -->
               <button mat-raised-button class="button" color="primary" (click)="login(loginEmail.value, loginPassword.value, rememberMe.checked)">Bejelentkezés</button>

               <!-- Error message -->
               <mat-error *ngIf="loginError != ''" class="error-text">{{ loginError }}</mat-error>
            </div>

            <!-- Loading spinner -->
            <div *ngIf="loginLoading" class="spinner-container">
               <mat-spinner class="spinner" color="primary"></mat-spinner>
            </div>

         </form>
      </div>
   </mat-card>

   <!-- Sign Up section -->
   <mat-card class="card card-signup">
      <h2 class="main-label">Regisztráció</h2>
      <mat-divider class="divider"></mat-divider>

      <!-- Form fields (SIGN UP)-->
      <div class="form-container">
         <form [formGroup]="signUpForm" autocomplete="off" novalidate>
            <div *ngIf="!signUpLoading">

               <!-- Email -->
               <input type="email" #signupEmail placeholder="E-mail cím" maxlength="64" formControlName="signUpEmail" required>

               <!-- Last Name -->
               <input type="text" class="last-name-input" #lastName placeholder="Vezetéknév" maxlength="64" formControlName="lastName" autocomplete="off" required>

               <!-- First Name -->
               <input type="text" class="first-name-input" #firstName placeholder="Keresztnév" maxlength="64" formControlName="firstName" onfocus="this.removeAttribute('readonly');" readonly required>

               <!-- Password - 1 -->
               <input type="password" #signupPassword placeholder="Jelszó" maxlength="64" formControlName="signUpPassword" (input)="onPasswordInput()" required>

               <!-- Password - 2 -->
               <input type="password" maxlength="64" placeholder="Jelszó újra" formControlName="signUpPasswordAgain" (input)="onPasswordInput()" required>

               <!-- Sign Up button -->
               <button mat-raised-button class="button" color="primary" (click)="signUp(signupEmail.value, signupPassword.value, lastName.value, firstName.value)">Regisztráció</button><br>

               <!-- Error message -->
               <mat-error *ngIf="signUpError != ''" class="error-text">{{ signUpError }}</mat-error>
            </div>

            <!-- Loading spinner -->
            <div *ngIf="signUpLoading" class="spinner-container">
               <mat-spinner class="spinner" color="primary"></mat-spinner>
            </div>

         </form>
      </div>
   </mat-card>

</div>