<div style="display: flex; text-align: center;">
   <div style="flex: 1">
     <h2><b>Ingyenes házhozszállítás</b></h2>
     <p>Minden rendelés esetén amely eléri a <b>45.000 Ft</b> értéket, a szállítást mi álljuk. Raktáron lévő termékeinket még aznap feladjuk.</p>
   </div>
   <div class="middle" style="flex: 1">
     <h2><b>Nagy választék</b></h2>
     <p>Cégünk az egyik legnagyobb elérhető kínálattal rendelkezik, alkatrészektől a felszerelésekig. Ha valamit nem találsz a weboldalon, keress bennünket e-mailben vagy telefonon.</p>
   </div>
   <div class="right" style="flex: 1">
      <h2><b>Minőség és megfizethetőség</b></h2>
      <p>A legjobb minőségű termékeink megfizethető áron. Tudjuk, hogy egy autó fentartása drága lehet, ezért <b>pénztárcabarát</b> megoldásokat is kínálunk.</p>
    </div>
</div>
