.battery-bcg-image {
   position: absolute;
   clip-path: polygon(0% 0%, 100% 0%, 100% 96.5%, 90% 96.5%, 89.25% 100%, 10.75% 100%, 10% 96.5%, 0% 96.5%);
   top: 0px;
   left: 0px;
   max-width: 100%;
   margin: 0;
   padding: 0;
   z-index: -999;
}

.main-label {
   position: absolute;
   top: 15px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 36px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: #333333;
}

.selector-container {
   filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.8));
}

.white-bcg {
   position: relative;
   clip-path: polygon(0% 18.5%, 1% 15%, 26.5% 15%, 29% 0%, 72% 0%, 74.5% 15%, 99% 15%, 100% 18.5%, 100% 82.5%, 99% 86%, 68% 86%, 66% 100%, 34% 100%, 32% 86%, 1% 86%, 0% 82.5%);
   top: 100px;
   left: 50%;
   width: 810px;
   height: 240px;
   margin-left: -405px;
   background-color: white;
}

.small-bcg {
   position: relative;
   top: 150px;
   left: 50%;
   width: 640px;
   height: 40px;
   margin-left: -320px;
   background-color: white;
}

.small-text1 {
   position: absolute;
   top: -10px;
   left: 10px;
   font-size: 19px;
   font-family: 'Roboto', sans-serif;
}

.small-text2 {
   position: absolute;
   top: -10px;
   left: 340px;
   font-size: 19px;
   font-family: 'Roboto', sans-serif;
}

.small-img {
   position: absolute;
   top: 0px;
   left: 146px;
   margin-top: 10px;
}

.bold {
   color:#f44336;
   font-weight: bold;
}

.label {
   position: absolute;
   top: 110px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 36px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   color: white;
}

.selector-first-row {
   position: absolute;
   display: table;
   top: 60px;
   width: 100%;
   padding-left: 10px;
}

.selector-second-row {
   position: absolute;
   display: table-row;
   top: 120px;
   width: 60%;
   margin-left: calc(20% - 30px);
   border-collapse: separate;
   border-spacing: 30px 0px;
}

.voltage {
   display: table-cell;
   left: 20px;
}

.capacity {
   display: table-cell;
   left: 220px;
}

.starter {
   display: table-cell;
   left: 420px;
}

.polarity {
   display: table-cell;
   left: 620px;
}

.length {
   display: table-cell;
   left: 140px;
}

.width {
   display: table-cell;
   left: 340px;
}

.height {
   display: table-cell;
   left: 540px;
}

.white {
   color: white;
}

.form-field {
   width: 175px;
   font-family: 'Roboto', sans-serif;
}

.smaller {
   width: 145px;
}

.mat-option {
   height: 35px !important;
}

.search-button {
   position: absolute;
   top: 190px;
   left: 50%;
   width: 200px;
   height: 40px;
   margin-left: -100px;
}

::ng-deep .mat-select-panel {
   max-height: 30vh !important;
 }