<!-- Background image -->
<img src="assets/banner_battery6.jpg" class="battery-bcg-image" />

<!-- White background on top of image -->
<div class="selector-container">
   <div class="white-bcg">

      <!-- Main Label -->
      <p class="main-label">Akkumulátor kereső</p>

      <!-- First Row -->
      <div class="selector-first-row">

         <!-- Voltage Checkboxes -->
         <div class="voltage">
            <mat-form-field appearance="legacy" class="form-field">
               <mat-select panelClass="select-panel" placeholder="Feszültség (Volt)" disableOptionCentering>
                  <mat-option value="12">12 V</mat-option>
                  <mat-option value="6">6 V</mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <!-- Capacity Checkboxes -->
         <div class="capacity">
            <mat-form-field appearance="legacy" class="form-field">
               <mat-select panelClass="select-panel" placeholder="Kapacitás (Amperóra)" [formControl]="capacities" disableOptionCentering multiple>
                  <mat-option value="0-20" [disabled]="isCapacityDisabled('0-20')">0Ah - 20Ah</mat-option>
                  <mat-option value="20-40" [disabled]="isCapacityDisabled('20-40')">20Ah - 40Ah</mat-option>
                  <mat-option value="40-60" [disabled]="isCapacityDisabled('40-60')">40Ah - 60Ah</mat-option>
                  <mat-option value="60-80" [disabled]="isCapacityDisabled('60-80')">60Ah - 80Ah</mat-option>
                  <mat-option value="80-100" [disabled]="isCapacityDisabled('80-100')">80Ah - 100Ah</mat-option>
                  <mat-option value="100-120" [disabled]="isCapacityDisabled('100-120')">100Ah - 120Ah</mat-option>
                  <mat-option value="120-140" [disabled]="isCapacityDisabled('120-140')">120Ah - 140Ah</mat-option>
                  <mat-option value="140-160" [disabled]="isCapacityDisabled('140-160')">140Ah - 160Ah</mat-option>
                  <mat-option value="160-180" [disabled]="isCapacityDisabled('160-180')">160Ah - 180Ah</mat-option>
                  <mat-option value="180-200" [disabled]="isCapacityDisabled('180-200')">180Ah - 200Ah</mat-option>
                  <mat-option value="200-220" [disabled]="isCapacityDisabled('200-220')">200Ah - 220Ah</mat-option>
                  <mat-option value="220-240" [disabled]="isCapacityDisabled('220-240')">220Ah - 240Ah</mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <!-- Starter Current Checkboxes -->
         <div class="starter">
            <mat-form-field appearance="legacy" class="form-field">
               <mat-select panelClass="select-panel" placeholder="Indítóáram (Amper)" [formControl]="starters" disableOptionCentering multiple>
                  <mat-option value="0-20" [disabled]="isStarterDisabled('0-20')">0A - 20A</mat-option>
                  <mat-option value="20-40" [disabled]="isStarterDisabled('20-40')">20A - 40A</mat-option>
                  <mat-option value="40-60" [disabled]="isStarterDisabled('40-60')">40A - 60A</mat-option>
                  <mat-option value="60-80" [disabled]="isStarterDisabled('60-80')">60A - 80A</mat-option>
                  <mat-option value="80-100" [disabled]="isStarterDisabled('80-100')">80A - 100A</mat-option>
                  <mat-option value="100-120" [disabled]="isStarterDisabled('100-120')">100A - 120A</mat-option>
                  <mat-option value="120-140" [disabled]="isStarterDisabled('120-140')">120A - 140A</mat-option>
                  <mat-option value="140-160" [disabled]="isStarterDisabled('140-160')">140A - 160A</mat-option>
                  <mat-option value="160-180" [disabled]="isStarterDisabled('160-180')">160A - 180A</mat-option>
                  <mat-option value="180-200" [disabled]="isStarterDisabled('180-200')">180A - 200A</mat-option>
                  <mat-option value="200-400" [disabled]="isStarterDisabled('200-400')">200A - 400A</mat-option>
                  <mat-option value="400-600" [disabled]="isStarterDisabled('400-600')">400A - 600A</mat-option>
                  <mat-option value="600-800" [disabled]="isStarterDisabled('600-800')">600A - 800A</mat-option>
                  <mat-option value="800-1000" [disabled]="isStarterDisabled('800-1000')">800A - 1000 A</mat-option>
                  <mat-option value="1000-1500" [disabled]="isStarterDisabled('1000-1500')">1000A - 1500A</mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <!-- Polarity Checkboxes -->
         <div class="polarity">
            <mat-form-field appearance="legacy" class="form-field">
               <mat-select panelClass="select-panel" placeholder="Polaritás (+)" disableOptionCentering>
                  <mat-option value="right">Jobb pozitív</mat-option>
                  <mat-option value="left">Bal pozitív</mat-option>
               </mat-select>
            </mat-form-field>
         </div>
      </div>

      <div class="selector-second-row">
         <!-- Length Checkboxes -->
         <div class="length">
            <mat-form-field appearance="legacy" class="form-field smaller">
               <mat-select panelClass="select-panel" placeholder="Hosszúság (mm)" [formControl]="lengths" disableOptionCentering multiple>
                  <mat-option value="60-80" [disabled]="isLengthDisabled('60-80')">60mm-80mm</mat-option>
                  <mat-option value="80-100" [disabled]="isLengthDisabled('80-100')">80mm-100mm</mat-option>
                  <mat-option value="100-120" [disabled]="isLengthDisabled('100-120')">100mm-120mm</mat-option>
                  <mat-option value="120-140" [disabled]="isLengthDisabled('120-140')">120mm-140mm</mat-option>
                  <mat-option value="140-160" [disabled]="isLengthDisabled('140-160')">140mm-160mm</mat-option>
                  <mat-option value="160-180" [disabled]="isLengthDisabled('160-180')">160mm-180mm</mat-option>
                  <mat-option value="180-200" [disabled]="isLengthDisabled('180-200')">180mm-200mm</mat-option>
                  <mat-option value="200-220" [disabled]="isLengthDisabled('200-220')">200mm-220mm</mat-option>
                  <mat-option value="220-240" [disabled]="isLengthDisabled('220-240')">220mm-240mm</mat-option>
                  <mat-option value="240-260" [disabled]="isLengthDisabled('240-260')">240mm-260mm</mat-option>
                  <mat-option value="260-280" [disabled]="isLengthDisabled('260-280')">260mm-280mm</mat-option>
                  <mat-option value="280-300" [disabled]="isLengthDisabled('280-300')">280mm-300mm</mat-option>
                  <mat-option value="300-320" [disabled]="isLengthDisabled('300-320')">300mm-320mm</mat-option>
                  <mat-option value="320-340" [disabled]="isLengthDisabled('320-340')">320mm-340mm</mat-option>
                  <mat-option value="340-360" [disabled]="isLengthDisabled('340-360')">340mm-360mm</mat-option>
                  <mat-option value="360-380" [disabled]="isLengthDisabled('360-380')">360mm-380mm</mat-option>
                  <mat-option value="380-400" [disabled]="isLengthDisabled('380-400')">380m-400mm</mat-option>
                  <mat-option value="400-420" [disabled]="isLengthDisabled('400-420')">400mm-420mm</mat-option>
                  <mat-option value="420-440" [disabled]="isLengthDisabled('420-440')">420mm-440mm</mat-option>
                  <mat-option value="440-460" [disabled]="isLengthDisabled('440-460')">440mm-460mm</mat-option>
                  <mat-option value="460-480" [disabled]="isLengthDisabled('460-480')">460mm-480mm</mat-option>
                  <mat-option value="480-500" [disabled]="isLengthDisabled('480-500')">480mm-500mm</mat-option>
                  <mat-option value="500-520" [disabled]="isLengthDisabled('500-520')">500mm-520mm</mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <!-- Width Checkboxes -->
         <div class="width">
            <mat-form-field appearance="legacy" class="form-field smaller">
               <mat-select panelClass="select-panel" placeholder="Szélesség (mm)" [formControl]="widths" disableOptionCentering multiple>
                  <mat-option value="40-60" [disabled]="isWidthDisabled('40-60')">40mm-60mm</mat-option>
                  <mat-option value="60-80" [disabled]="isWidthDisabled('60-80')">60mm-80mm</mat-option>
                  <mat-option value="80-100" [disabled]="isWidthDisabled('80-100')">80mm-100mm</mat-option>
                  <mat-option value="100-120" [disabled]="isWidthDisabled('100-120')">100mm-120mm</mat-option>
                  <mat-option value="120-140" [disabled]="isWidthDisabled('120-140')">120mm-140mm</mat-option>
                  <mat-option value="140-160" [disabled]="isWidthDisabled('140-160')">140mm-160mm</mat-option>
                  <mat-option value="160-180" [disabled]="isWidthDisabled('160-180')">160mm-180mm</mat-option>
                  <mat-option value="180-200" [disabled]="isWidthDisabled('180-200')">180mm-200mm</mat-option>
                  <mat-option value="200-220" [disabled]="isWidthDisabled('200-220')">200mm-220mm</mat-option>
                  <mat-option value="220-240" [disabled]="isWidthDisabled('220-240')">220mm-240mm</mat-option>
                  <mat-option value="240-260" [disabled]="isWidthDisabled('240-260')">240mm-260mm</mat-option>
                  <mat-option value="260-280" [disabled]="isWidthDisabled('260-280')">260mm-280mm</mat-option>
                  <mat-option value="280-300" [disabled]="isWidthDisabled('280-300')">280mm-300mm</mat-option>
               </mat-select>
            </mat-form-field>
         </div>

         <!-- Height Checkboxes -->
         <div class="height">
            <mat-form-field appearance="legacy" class="form-field smaller">
               <mat-select panelClass="select-panel" placeholder="Magasság (mm)" [formControl]="heights" disableOptionCentering multiple>
                  <mat-option value="40-60" [disabled]="isHeightDisabled('40-60')">40mm-60mm</mat-option>
                  <mat-option value="60-80" [disabled]="isHeightDisabled('60-80')">60mm-80mm</mat-option>
                  <mat-option value="80-100" [disabled]="isHeightDisabled('80-100')">80mm-100mm</mat-option>
                  <mat-option value="100-120" [disabled]="isHeightDisabled('100-120')">100mm-120mm</mat-option>
                  <mat-option value="120-140" [disabled]="isHeightDisabled('120-140')">120mm-140mm</mat-option>
                  <mat-option value="140-160" [disabled]="isHeightDisabled('140-160')">140mm-160mm</mat-option>
                  <mat-option value="160-180" [disabled]="isHeightDisabled('160-180')">160mm-180mm</mat-option>
                  <mat-option value="180-200" [disabled]="isHeightDisabled('180-200')">180mm-200mm</mat-option>
                  <mat-option value="200-220" [disabled]="isHeightDisabled('200-220')">200mm-220mm</mat-option>
                  <mat-option value="220-240" [disabled]="isHeightDisabled('220-240')">220mm-240mm</mat-option>
                  <mat-option value="240-260" [disabled]="isHeightDisabled('240-260')">240mm-260mm</mat-option>
                  <mat-option value="260-280" [disabled]="isHeightDisabled('260-280')">260mm-280mm</mat-option>
                  <mat-option value="280-300" [disabled]="isHeightDisabled('280-300')">280mm-300mm</mat-option>
               </mat-select>
            </mat-form-field>
         </div>
      </div>

      

      <!-- Search button -->
      <button class="search-button" mat-raised-button color="warn" (click)="search()">Akkumulátor keresése</button>

   </div>
</div>

<!-- Ad -->
<div class="container">
   <div class="small-bcg">
      <p class="small-text1">Minden GRANIT</p>
      <img src="assets/endurance_line.png" class="small-img">
      <p class="small-text2">akkumulátorhoz <span class="bold">3 év garancia</span> jár!</p>
   </div>
</div>