body {
    margin: 0;
}

.logo {
    position: fixed;
    font-size: 30px;
    width: 20%;
    top: -12px;
    left: 50%;
    margin-left: -10%;
    color:#383838;
    font-family: 'Audiowide', cursive;
    z-index: 9999;
    text-align: center;
}

.red {
    color: #1b2936;
}

.fixed {
    position: fixed; /* Set the navbar to fixed position */
    top: 30px; /* Position the navbar at the top of the page */
    left: 0px;
}

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.8));
}

.topnav {
    clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 63% 26%, 62.25% 34%, 37.75% 34%, 37% 26%, 0% 26%);
    position: fixed;
    display: block;
    background-color: white;
    top: 30px;
	height: 300px;
    width: 100%;
    margin: 0 auto;
}

.menu-option {
    float: left;
    color: black;
    text-align: center;
    margin-top: 5px;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: #1b2936;
}

.topnav a.active {
    background-color: #f02930;
    color: white;
}

.left-pushed {
    margin-left: 2%;
}

.hovered-cursor {
    cursor: pointer;
}

.carsearch-button {
    color: white;
    background-color: #f02930;
    padding: 20px;
    font-weight: bold;
}

.max-width {
    overflow: hidden;
    display: block;
    margin: 0;
    width: 100%;
    background-color: #f02930;
}



.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.search-icon {
    position: fixed;
    width: 10%;
    left: 70%;
    margin-left: -6%;
    padding: 10px;
    color: white;
    transform: scale(1.6);
}

.white-icon {
    color: white;
    transform: scale(1.6);
    padding: 10px;
    padding-right: 1%;
    float: right;
}

.login-text {
    padding-right: 1%;
    float: right;
}

.parallelogram-left {
    position: fixed;
    top: 0px;
    left: -10px;
	width: 41%;
	height: 30px;
	transform: skew(-30deg);
	background: #1b2936;
    z-index: 15;
}

.parallelogram-right {
    position: fixed;
    top: 0px;
    left: 59%;
    width: 100%;
    height: 30px;
	transform: skew(30deg);
	background: #383838;
    z-index: 15;
}

.box-middle {
    position: fixed;
    margin: 0;
    padding: 0;
    top: -20px;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 10;
}

.searchbar {
    position: fixed;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    margin-top: 50px;
    padding-top: 10px;
    height: 20px;
}

.searchbar2 {
    position: fixed;
    left: 50%;
    margin-left: -10%;
    z-index: 999999999;
    
}

.search-label {
    position: fixed;
    left: 50%;
    margin-left: -10%;
}

.form-field {
    position: fixed;
    width: 20%;
    top: 60px;
    left: 50%;
    margin-left: -10%;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #f44336 !important;;
}
