.logo {
   position: fixed;
   top: -12px;
   left: 50%;
   width: 20%;
   margin-left: -10%;
   font-size: 30px;
   font-family: 'Audiowide', cursive;
   text-align: center;
   color: #383838;
   z-index: 9999;
}

.darkblue {
   color: #1b2936;
}

.fixed {
   position: fixed;
   top: 30px;
   left: 0px;
   z-index: 10;
}

.container {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   top: 0px;
   left: 0px;
   width: 100%;
   filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.8));
   z-index: 5;
}

.topnav {
   clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 63% 26%, 62.25% 34%, 37.75% 34%, 37% 26%, 0% 26%);
   position: fixed;
   display: block;
   background-color: white;
   height: 300px;
   width: 100%;
}

.menu-option {
   float: left;
   margin-top: 5px;
   padding: 10px 25px;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   text-decoration: none;
   color: black;
}

.menu-option:hover {
   background-color: #dddddd;
   color: #1b2936;
}

.topnav a.active {
   background-color: #f44336;
   color: white;
}

.left-push {
   margin-left: 2%;
}

.carselect-button {
   position: fixed;
   top: 45px;
   left: 29%;
   padding: 5px 16px;
}

.search-icon {
   position: fixed;
   top: 71px;
   left: 58.5%;
   transform: scale(1.4);
}

.login-text {
   padding-right: 1%;
   float: right;
   color: black;
   margin-top: 5px;
   padding: 10px 25px;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   text-decoration: none;
   color: black;
   cursor: pointer;
}

.login-text:hover {
   background-color: #f44336;
   color: white;
}

.parallelogram-left {
   position: fixed;
   top: 0px;
   left: -10px;
   width: 41%;
   height: 30px;
   transform: skew(-30deg);
   background: #1b2936;
   z-index: 15;
}

.parallelogram-right {
   position: fixed;
   top: 0px;
   left: 59%;
   width: 100%;
   height: 30px;
   transform: skew(30deg);
   background: #383838;
   z-index: 15;
}

.box-middle {
   position: fixed;
   margin: 0;
   padding: 0;
   top: -20px;
   width: 100%;
   height: 50px;
   background-color: white;
   z-index: 10;
}

.search-label {
   position: fixed;
   left: 50%;
   margin-left: -10%;
}

.form-field {
   position: fixed;
   width: 18%;
   top: 60px;
   left: 50%;
   margin-left: -10%;
}

.dropbtn {
   background-color: white;
   color: black;
   margin-top: 5px;
   padding: 10px 25px;
   padding-right: 40px;
   font-size: 17px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   text-decoration: none;
   border: none;
}

.arrow {
   position: fixed;
   top: 57px;
}

.dropdown {
   position: fixed;
   top: 44px;
   right: 0.5%;
   display: inline-block;
   z-index: 10;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 175px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   display: block;
   cursor: pointer;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown:hover .dropbtn {
   background-color: #f44336;
   color: white
}



::ng-deep .mat-focused .mat-form-field-label {
   color: #f44336 !important;
}

::ng-deep.mat-form-field-ripple {
   background-color: #f44336 !important;
}