
<div class="topnav">
  <a class="active" routerLink="/main" (click)="searchedSomething = false">Főoldal</a>
  <a routerLink="/carsearch" (click)="searchedSomething = false">Járműkereső</a>
  <a routerLink="/profile" (click)="searchedSomething = false">Profil</a>
  <input type="text" #inputText>
  <button (click)="searchedText = inputText.value; onSubmitSearch();">Keresés</button>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet *ngIf="!searchedSomething"></router-outlet>

<app-products *ngIf="searchedSomething"></app-products>