
<!-- Decoration shapes -->
<div class="box-middle"></div>
<div class="parallelogram-left"></div>
<div class="parallelogram-right"></div>

<!-- Logo -->
<h2 class="logo"><span class="darkblue">WEST</span> ALKATRÉSZ</h2>

<!-- Upper bar -->
<div class="container">
    <div class="topnav fixed">
   
        <!-- Left Side -->
        <a class="left-push menu-option" [ngClass]="{'active': step === 0}" routerLink="/main" (click)="searchedSomething = false; isIf = false; step = 0;">Főoldal</a>
        <a class="menu-option" [ngClass]="{'active': step === 2}" routerLink="/profile" (click)="searchedSomething = false; isIf = false; step = 2;">Profil</a>
        <button class="carselect-button" mat-raised-button color="warn" (click)="onCarSelectorButtonClick()">Jármű kiválasztása</button>
     
        <!-- Account -->
        <div class="login-text">
           <mat-icon>perm_identity</mat-icon>
           <div *ngIf="localStorageUser() == ''">
              <a class="login-text"routerLink="/login">Bejelentkezés</a>
              <a class="login-text"routerLink="/login">Regisztráció</a>
           </div>
        </div>
     
     </div>
</div>


<!-- Search bar in the middle -->
<div class="fixed text">

    <!-- Search bar -->
    <div style="font-size: 16px">
        <mat-form-field class="form-field" appearance="legacy">
            <mat-label>Termék keresése</mat-label>
            <input matInput #inputText (input)="searchedText = inputText.value" placeholder="Cikkszám, gyári szám.." maxlength="64" autocomplete="off" [(ngModel)]="value">

            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div>
    
    <!-- Search button -->
    <button mat-icon-button class="search-icon" color="warn" (click)="updatChildIf(); onSearch();">
        <mat-icon>search</mat-icon>
    </button>

</div>




<!-- The routed views render in the <router-outlet>-->
<br><br>
<router-outlet *ngIf="!searchedSomething"></router-outlet>

<app-products *ngIf="isIf || searchedSomething" [searchedText]="searchedText"></app-products>
