<div class="content-container">
   <div class="content-inner-container">

      <mat-card class="product-card">

         <!-- Add Products -->
         <p>Termék hozzáadása</p>
         <button mat-raised-button color="primary" (click)="openProductDialog()">Új termék hozzáadása</button>

         <!-- Update Products -->
         <p>Termék frissítése</p>
         <div class="update-button-container">
            <input placeholder="A termék pontos cikkszáma" #updatePartNumber>
            <button mat-raised-button color="primary" (click)="attemptToOpenUpdateDialog(updatePartNumber.value)">Megnyitás</button>
         </div>

         <!-- Delete Products -->
         <p>Termék törlése</p>
         <div class="update-button-container">
            <input placeholder="A termék pontos cikkszáma" #deletePartNumber>
            <button mat-raised-button color="warn" (click)="attemptToOpenDeleteProductDialog(deletePartNumber.value)">Törlés</button>
         </div>
      </mat-card>

      <!-- Offers section -->
      <mat-card class="offer-card">
         <p>Árajánlat kérések</p>

         <!-- Date picker -->
         <mat-form-field appearance="fill" class="datepicker-container" color="primary">
            <mat-label>Keresési intervallum</mat-label>
            <mat-date-range-input [formGroup]="offerRange" [rangePicker]="appointmentPicker">
               <input matStartDate formControlName="start" placeholder="Kezdő időpont">
               <input matEndDate formControlName="end" placeholder="Végső időpont">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="appointmentPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #appointmentPicker></mat-date-range-picker>

            <mat-error *ngIf="offerRange.controls.start.hasError('matStartDateInvalid')">Helytelen kezdő időpont</mat-error>
            <mat-error *ngIf="offerRange.controls.end.hasError('matEndDateInvalid')">Helytelen végső időpont</mat-error>
         </mat-form-field>

         <!-- Checkbox and query button -->
         <div class="offer-input-container">
            <div>
               <mat-checkbox #unAnswered>Csak válaszolatlanok</mat-checkbox>
            </div>
            <button mat-raised-button class="offer-query-button" color="primary" (click)="queryForOffers(offerRange.value['start'], offerRange.value['end'], unAnswered.checked)">Lekérdezés</button>
         </div>

         <!-- Offer table -->
         <table mat-table [dataSource]="offers" class="offer-table">

            <!-- Date Column -->
            <ng-container matColumnDef="date">
               <th mat-header-cell *matHeaderCellDef>Dátum</th>
               <td mat-cell *matCellDef="let element">{{ element.date.toDate().toLocaleString() }}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
               <th mat-header-cell *matHeaderCellDef>E-mail cím</th>
               <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <!-- Answered Column -->
            <ng-container matColumnDef="answered">
               <th mat-header-cell *matHeaderCellDef>Státusz</th>
               <td mat-cell *matCellDef="let element">{{ getAnsweredState(element.answered) }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
               <th mat-header-cell *matHeaderCellDef>Megnyitás</th>
               <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="openOfferDialog(element)">Megnyitás</button>
               </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="offerColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: offerColumns;"></tr>
         </table>

      </mat-card>

      <!-- Orders section -->
      <mat-card class="order-card">
         <p>Rendelések</p>

         <!-- Date picker -->
         <mat-form-field appearance="fill" class="datepicker-container" color="primary">
            <mat-label>Keresési intervallum</mat-label>
            <mat-date-range-input [formGroup]="offerRange" [rangePicker]="orderPicker">
               <input matStartDate formControlName="start" placeholder="Kezdő időpont">
               <input matEndDate formControlName="end" placeholder="Végső időpont">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="orderPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #orderPicker></mat-date-range-picker>

            <mat-error *ngIf="orderRange.controls.start.hasError('matStartDateInvalid')">Helytelen kezdő időpont</mat-error>
            <mat-error *ngIf="orderRange.controls.end.hasError('matEndDateInvalid')">Helytelen végső időpont</mat-error>
         </mat-form-field>

         <!-- Query button -->
         <div class="offer-input-container">
            <button mat-raised-button class="offer-query-button" color="primary" (click)="queryForOrders(orderRange.value['start'], orderRange.value['end'])">Lekérdezés</button>
         </div>

         <!-- Order table -->
         <table mat-table [dataSource]="orders" class="offer-table">

            <!-- Date Column -->
            <ng-container matColumnDef="date">
               <th mat-header-cell *matHeaderCellDef>Dátum</th>
               <td mat-cell *matCellDef="let element">{{ element.date.toDate().toLocaleString() }}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
               <th mat-header-cell *matHeaderCellDef>E-mail cím</th>
               <td mat-cell *matCellDef="let element">{{ element.shippingAddress.email }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
               <th mat-header-cell *matHeaderCellDef>Végösszeg</th>
               <td mat-cell *matCellDef="let element">{{ formatPrice(addTax(element.totalPrice)) }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
               <th mat-header-cell *matHeaderCellDef>Megnyitás</th>
               <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="openOrderDialog(element)">Megnyitás</button>
               </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
         </table>
      </mat-card>

      <mat-card class="dev-card">
         <p>Fejlesztői műveletek</p>
        
         <button mat-raised-button (click)="addUncategoriedProducts()">AP Termékek feltöltése</button>
         <button mat-raised-button (click)="categorizeProduct()">Következő termék kategorizálása</button>
      </mat-card>

   </div>
</div>

<!-- Dialog that opens when we want to upload a new Product -->
<ng-template #newProductDialogRef let-product [formGroup]="addProductForm" class="product-dialog">
   <p *ngIf="product" class="dialog-title">Termék módosítása</p>
   <p *ngIf="!product" class="dialog-title">Új termék hozzáadása</p>
   <mat-divider class="dialog-divider"></mat-divider>

   
   <!-- Body -->
   <div mat-dialog-content>

        <div>
            <p class="section-title">Alapvető adatok</p>
            <input placeholder="Cikkszám" formControlName="partNumber" [value]="product ? product.partNumber : ''" #partNumber>
            <input placeholder="Név" [value]="product ? product.name : ''" #name>
            <input placeholder="Leírás" [value]="product ? product.description : ''" #description>
            <input placeholder="Márka" [value]="product ? product.brand : ''" #brand>
            <input placeholder="Nettó ár" [value]="product ? product.price : ''" #price>
            <input placeholder="Raktár mennyisége" [value]="product ? product.stock : ''" #stock>
            <mat-checkbox [checked]="product ? product.returnable : true" #returnable>Visszaküldhető</mat-checkbox><br>
            <mat-divider class="section-divider"></mat-divider>
        </div>

        <div>
            <p class="section-title">Kategoriák</p>
            <button mat-raised-button (click)="addSpecialCategory()">Kategória hozzáadása</button><br>
            <ng-container *ngFor="let categorySelector of specialCategoryInputs; let i = index;">
               <select #specialCategory [(ngModel)]="product ? product.specialCategories : specialCategoryInputs[i]" [ngModelOptions]="{standalone: true}" >
                  <option value="-1">Nincs</option>
                  <option value="0">Egyéb termékek / Autóápolás / Tisztítás</option>
                  <option value="1">Egyéb termékek / Autóápolás / Kefék, törlőkendők</option>
                  <option value="2">Egyéb termékek / Autóápolás / Motorblokk tisztítás</option>
                  <option value="3">Egyéb termékek / Autóápolás / Felni tisztítás</option>
                  <option value="4">Egyéb termékek / Autóápolás / Polírozás</option>
                  <option value="5">Egyéb termékek / Beltér / Üléshuzatok</option>
                  <option value="6">Egyéb termékek / Beltér / Kormányvédők</option>
                  <option value="7">Egyéb termékek / Beltér / Autószőnyegek</option>
                  <option value="8">Egyéb termékek / Beltér / Szivargyújtó</option>
                  <option value="9">Egyéb termékek / Beltér / Illatósítók</option>
                  <option value="10">Egyéb termékek / Beltér / Belső ventilátorok</option>
                  <option value="11">Egyéb termékek / Kültér / Ablaktörlő lapátok</option>
                  <option value="12">Egyéb termékek / Kültér / Lámpák / Hátsó lámpák</option>
                  <option value="13">Egyéb termékek / Kültér / Lámpák / Gumilámpák / Izzós</option>
                  <option value="14">Egyéb termékek / Kültér / Lámpák / Gumilámpák / LED-es</option>
                  <option value="15">Egyéb termékek / Kültér / Lámpák / Helyzetjelzők / Izzós</option>
                  <option value="16">Egyéb termékek / Kültér / Lámpák / Helyzetjelzők / LED-es</option>
                  <option value="17">Egyéb termékek / Kültér / Lámpák / Munkalámpák / Izzós</option>
                  <option value="18">Egyéb termékek / Kültér / Lámpák / Munkalámpák / LED-es</option>
                  <option value="19">Egyéb termékek / Kültér / Lámpák / Megkülönböztető lámpák / Izzós</option>
                  <option value="20">Egyéb termékek / Kültér / Lámpák / Megkülönböztető lámpák / LED-es</option>
                  <option value="21">Egyéb termékek / Kültér / Dísztárcsák</option>
                  <option value="22">Egyéb termékek / Kültér / Tanksapkák</option>
                  <option value="23">Egyéb termékek / Kültér / Rendszámtábla tartók</option>
                  <option value="24">Egyéb termékek / Kültér / Fényvisszaverők</option>
                  <option value="25">Egyéb termékek / Folyadékok / Hajtómű olaj</option>
                  <option value="26">Egyéb termékek / Folyadékok / Fagyálló</option>
                  <option value="27">Egyéb termékek / Folyadékok / Ablakmosó folyadék / Nyári</option>
                  <option value="28">Egyéb termékek / Folyadékok / Ablakmosó folyadék / Téli</option>
            
                  <option value="29">Garázs felszerelések / Szerszámok / Kézi szerszámok</option>
                  <option value="30">Garázs felszerelések / Szerszámok / Elektromos szerszámok</option>
                  <option value="31">Garázs felszerelések / Szerszámok / Mérőeszközök</option>
                  <option value="32">Garázs felszerelések / Garázs berendezések / Műhelyhigiénia / Kézhigiénia</option>
                  <option value="33">Garázs felszerelések / Garázs berendezések / Műhelyhigiénia / Tisztítás</option>
                  <option value="34">Garázs felszerelések / Garázs berendezések / Klíma szervíz</option>
                  <option value="35">Garázs felszerelések / Garázs berendezések / Akkumulátor szervíz</option>
                  <option value="36">Garázs felszerelések / Munkavédelmi kellékek / Ruházat</option>
                  <option value="37">Garázs felszerelések / Munkavédelmi kellékek / Biztonsági felszerelés</option>
                  <option value="38">Garázs felszerelések / Univerzális tartozékok / Alététek és O-gyűrűk / O-gyűrűk</option>
                  <option value="39">Garázs felszerelések / Univerzális tartozékok / Alététek és O-gyűrűk / Alátétek</option>
                  <option value="40">Garázs felszerelések / Univerzális tartozékok / Biztosítékok</option>
                  <option value="41">Garázs felszerelések / Univerzális tartozékok / Gyorskötözők</option>
               </select>
            </ng-container>
            <mat-divider class="section-divider"></mat-divider>
        </div>

        <div>
            <p class="section-title">Képek</p>
            <div *ngIf="product">
                <div *ngFor="let imgurl of activeImageUrls; let i = index;">
                    <img [src]="imgurl" width="100" height="100">
                    <mat-icon class="delete-img-button" (click)="deleteImage(i)">close</mat-icon>
                </div>
            </div>
            <input type="file" multiple (change)="onFileChange($event)" #images><br>
        </div>

   </div>

   <p *ngIf="productFormError != ''" class="error-text">{{ productFormError }}</p>

   <!-- Buttons -->
   <button mat-raised-button class="dialog-close-button" mat-dialog-close>Vissza</button>
   <button *ngIf="!product" mat-raised-button class="dialog-ok-button" color="primary" (click)="addNewProduct(partNumber.value, name.value, description.value, brand.value, price.value, stock.value, returnable.checked)">Termék feltöltése</button>
   <button *ngIf="product" mat-raised-button class="dialog-ok-button" color="primary" (click)="updateProduct(product, product.id, partNumber.value, name.value, description.value, brand.value, price.value, stock.value, returnable.checked)">Termék módosítása</button>
</ng-template>

<!-- Dialog that opens when we want to delete a Product -->
<ng-template #deleteProductDialogRef let-product>
   <p class="dialog-title">Termék törlése</p>

   <!-- Body -->
   <p class="offer-row">Biztosan ki akarod törölni ezt a terméket?</p>

   <!-- Buttons -->
   <button mat-raised-button class="dialog-close-button" mat-dialog-close>Vissza</button>
   <button mat-raised-button class="dialog-ok-button" color="warn" mat-dialog-close (click)="deleteProduct(product.id)">Törlés</button>
</ng-template>

<!-- Dialog that opens when we want to answer an Offer -->
<ng-template #offerDialogRef let-offer>
   <p class="dialog-title">Válaszadás egy árajánlatra</p>
   <mat-divider class="dialog-divider"></mat-divider>

   <!-- Body -->
   <p class="offer-row"><span class="underlined">Gyártmány:</span> {{ offer.brand }}</p>
   <p class="offer-row"><span class="underlined">Évjárat:</span> {{ offer.year }}</p>
   <p class="offer-row"><span class="underlined">Motor:</span> {{ offer.engine }}</p>
   <p class="offer-row"><span class="underlined">Karosszéria:</span> {{ offer.chassis }}</p>
   <p class="offer-row"><span class="underlined">Klímaberendezés:</span> {{ offer.ac }}</p>
   <p class="offer-row"><span class="underlined">Alvázszám:</span> {{ offer.vin }}</p>
   <p class="offer-row"><span class="underlined">Üzenet:</span> {{ offer.message }}</p>
   <textarea placeholder="Válaszüzenet..." #answer></textarea>

   <!-- Buttons -->
   <button mat-raised-button class="dialog-close-button" mat-dialog-close>Vissza</button>
   <button mat-raised-button class="dialog-ok-button" color="primary" mat-dialog-close (click)="answerOffer(offer, answer.value)">Válaszadás</button>
</ng-template>

<!-- Dialog that opens when inspecting an Order -->
<ng-template #orderDialogRef let-order>
   <p class="dialog-title">Rendelés: {{ timestampToDate(order.date).toLocaleString() }}</p>
   <div *ngIf="order">

      <!-- List all products in the Order-->
      <table class="table">
         <thead>
            <th>Megnevezés</th>
            <th>Mennyiség</th>
            <th>Ár</th>
         </thead>

         <tbody>
            <tr *ngFor="let product of order.orderedProducts">

               <td class="info-column">
                  <div class="info-container">
                     <p [routerLink]="['/product', product.partNumber]" class="part-number" mat-dialog-close>{{ product.partNumber }}</p>
                     <p class="name">{{ product.name }}</p>
                     <p class="brand">{{ product.brand }}</p>
                  </div>
               </td>

               <td class="amount-column">
                  <p>{{ product.quantity }} db.</p>
               </td>

               <td class="price-column">
                  <div class="price-container">
                     <p class="price">{{ formatPrice(addTax(product.price)) }}</p>
                     <p class="net-price">({{ formatPrice(product.price) }} + 27% ÁFA)</p>
                  </div>
               </td>

            </tr>

            <tr class="total-row">
               <td></td>
               <td></td>
               <td class="price-column total-column">
                  <div class="price-container">
                     <p>Szállítás: {{ formatPrice(order.deliveryPrice) }}</p>
                     <p>Végösszeg: {{ formatPrice(addTax(order.totalPrice)) }}</p>
                  </div>
               </td>
            </tr>

         </tbody>
      </table>

      <mat-divider></mat-divider>

      <!-- Other information about the Order-->
      <div>
         <div class="quarter-container">
            <p class="quarter-title">Alap adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.shippingAddress.name }}</p>
               <p>{{ order.shippingAddress.email }}</p>
               <p>{{ order.shippingAddress.phoneNumber }}</p>
               <p>{{ order.shippingAddress.address }}</p>
               <p *ngIf="order.shippingAddress.comment">{{ order.shippingAddress.comment }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Számlázási adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.billingAddress.name }}</p>
               <p>{{ order.billingAddress.address }}</p>
               <p *ngIf="order.billingAddress.taxNumber">{{ order.billingAddress.taxNumber }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Átvétel</p>
            <div class="quarter-text-container">
               <p>Házhozszállítás</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Fizetés</p>
            <div class="quarter-text-container">
               <p>Utánvét</p>
            </div>
         </div>
      </div>

   </div>
   <button mat-raised-button class="dialog-close-button" color="primary" mat-dialog-close>Vissza</button>
</ng-template>