<div class="content-container">
   <div class="content-inner-container">
      <button mat-raised-button color="primary" (click)="openNewProductDialog()">Új termék hozzáadása</button>

      <!-- Offers section -->
      <mat-card class="offer-card">
         <p>Árajánlat kérések</p>

         <!-- Date picker -->
         <mat-form-field appearance="fill" class="datepicker-container" color="primary">
            <mat-label>Keresési intervallum</mat-label>
            <mat-date-range-input [formGroup]="offerRange" [rangePicker]="appointmentPicker">
               <input matStartDate formControlName="start" placeholder="Start date">
               <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="appointmentPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #appointmentPicker></mat-date-range-picker>

            <mat-error *ngIf="offerRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="offerRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
         </mat-form-field>

         <!-- Checkbox and query button -->
         <div class="offer-input-container">
            <div>
               <mat-checkbox #unAnswered>Csak válaszolatlanok</mat-checkbox>
            </div>
            <button mat-raised-button class="offer-query-button" color="primary" (click)="queryForOffers(offerRange.value['start'], offerRange.value['end'], unAnswered.checked)">Lekérdezés</button>
         </div>

         <!-- Offer table -->
         <table mat-table [dataSource]="offers" class="offer-table">

            <!-- Date Column -->
            <ng-container matColumnDef="date">
               <th mat-header-cell *matHeaderCellDef>Dátum</th>
               <td mat-cell *matCellDef="let element">{{ element.date.toDate().toLocaleString() }}</td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
               <th mat-header-cell *matHeaderCellDef>E-mail cím</th>
               <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <!-- Answered Column -->
            <ng-container matColumnDef="answered">
               <th mat-header-cell *matHeaderCellDef>Státusz</th>
               <td mat-cell *matCellDef="let element">{{ getAnsweredState(element.answered) }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
               <th mat-header-cell *matHeaderCellDef>Megnyitás</th>
               <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="openOfferDialog(element)">Megnyitás</button>
               </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="offerColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: offerColumns;"></tr>
         </table>

      </mat-card>

   </div>
</div>

<!-- Dialog that opens when we want to upload a new Product -->
<ng-template #newProductDialogRef>
   <p class="dialog-title">Új termék hozzáadása</p>
   <mat-divider class="dialog-divider"></mat-divider>

   <!-- Body -->
   <input placeholder="Cikkszám" #partNumber>
   <input placeholder="Név" #name>
   <input placeholder="Leírás" #description>
   <input placeholder="Márka" #brand>
   <input placeholder="Nettó ár" #price>
   <input placeholder="Raktár mennyisége" #stock>
   <select #specialCategory>
      <option value="-1">Nincs</option>
      <option value="0">Egyéb termékek / Autóápolás / Tisztítás</option>
      <option value="1">Egyéb termékek / Autóápolás / Kefék, törlőkendők</option>
      <option value="2">Egyéb termékek / Autóápolás / Motorblokk tisztítás</option>
      <option value="3">Egyéb termékek / Autóápolás / Felni tisztítás</option>
      <option value="4">Egyéb termékek / Autóápolás / Polírozás</option>
      <option value="5">Egyéb termékek / Beltér / Üléshuzatok</option>
      <option value="6">Egyéb termékek / Beltér / Kormányvédők</option>
      <option value="7">Egyéb termékek / Beltér / Autószőnyegek</option>
      <option value="8">Egyéb termékek / Beltér / Szivargyújtó</option>
      <option value="9">Egyéb termékek / Beltér / Illatósítók</option>
      <option value="10">Egyéb termékek / Beltér / Belső ventilátorok</option>
      <option value="11">Egyéb termékek / Kültér / Ablaktörlő lapátok</option>
      <option value="12">Egyéb termékek / Kültér / Lámpák / Hátsó lámpák</option>
      <option value="13">Egyéb termékek / Kültér / Lámpák / Gumilámpák / Izzós</option>
      <option value="14">Egyéb termékek / Kültér / Lámpák / Gumilámpák / LED-es</option>
      <option value="15">Egyéb termékek / Kültér / Lámpák / Helyzetjelzők / Izzós</option>
      <option value="16">Egyéb termékek / Kültér / Lámpák / Helyzetjelzők / LED-es</option>
      <option value="17">Egyéb termékek / Kültér / Lámpák / Munkalámpák / Izzós</option>
      <option value="18">Egyéb termékek / Kültér / Lámpák / Munkalámpák / LED-es</option>
      <option value="19">Egyéb termékek / Kültér / Lámpák / Megkülönböztető lámpák / Izzós</option>
      <option value="20">Egyéb termékek / Kültér / Lámpák / Megkülönböztető lámpák / LED-es</option>
      <option value="21">Egyéb termékek / Kültér / Dísztárcsák</option>
      <option value="22">Egyéb termékek / Kültér / Tanksapkák</option>
      <option value="23">Egyéb termékek / Kültér / Rendszámtábla tartók</option>
      <option value="24">Egyéb termékek / Kültér / Fényvisszaverők</option>
      <option value="25">Egyéb termékek / Folyadékok / Hajtómű olaj</option>
      <option value="26">Egyéb termékek / Folyadékok / Fagyálló</option>
      <option value="27">Egyéb termékek / Folyadékok / Ablakmosó folyadék / Nyári</option>
      <option value="28">Egyéb termékek / Folyadékok / Ablakmosó folyadék / Téli</option>
      
      <option value="29">Garázs felszerelések / Szerszámok / Kézi szerszámok</option>
      <option value="30">Garázs felszerelések / Szerszámok / Elektromos szerszámok</option>
      <option value="31">Garázs felszerelések / Szerszámok / Mérőeszközök</option>
      <option value="32">Garázs felszerelések / Garázs berendezések / Műhelyhigiénia / Kézhigiénia</option>
      <option value="33">Garázs felszerelések / Garázs berendezések / Műhelyhigiénia / Tisztítás</option>
      <option value="34">Garázs felszerelések / Garázs berendezések / Klíma szervíz</option>
      <option value="35">Garázs felszerelések / Garázs berendezések / Akkumulátor szervíz</option>
      <option value="36">Garázs felszerelések / Munkavédelmi kellékek / Ruházat</option>
      <option value="37">Garázs felszerelések / Munkavédelmi kellékek / Biztonsági felszerelés</option>
      <option value="38">Garázs felszerelések / Univerzális tartozékok / Alététek és O-gyűrűk / O-gyűrűk</option>
      <option value="39">Garázs felszerelések / Univerzális tartozékok / Alététek és O-gyűrűk / Alátétek</option>
      <option value="40">Garázs felszerelések / Univerzális tartozékok / Biztosítékok</option>
      <option value="41">Garázs felszerelések / Univerzális tartozékok / Gyorskötözők</option>
   </select>
   <mat-checkbox [checked]="true" #returnable>Visszaküldhető</mat-checkbox><br>
   <input type="file" multiple (change)="onFileChange($event)" #images><br>

   <!-- Buttons -->
   <button mat-raised-button class="dialog-close-button" mat-dialog-close>Vissza</button>
   <button mat-raised-button class="dialog-ok-button" color="primary" (click)="addNewProduct(partNumber.value, name.value, description.value, specialCategory.value, brand.value, price.value, stock.value, returnable.checked)">Termék feltöltése</button>
</ng-template>

<!-- Dialog that opens when we want to answer an Offer -->
<ng-template #offerDialogRef let-offer>
   <p class="dialog-title">Válaszadás egy árajánlatra</p>
   <mat-divider class="dialog-divider"></mat-divider>

   <!-- Body -->
   <p class="offer-row"><span class="underlined">Gyártmány:</span> {{ offer.brand }}</p>
   <p class="offer-row"><span class="underlined">Évjárat:</span> {{ offer.year }}</p>
   <p class="offer-row"><span class="underlined">Motor:</span> {{ offer.engine }}</p>
   <p class="offer-row"><span class="underlined">Karosszéria:</span> {{ offer.chassis }}</p>
   <p class="offer-row"><span class="underlined">Klímaberendezés:</span> {{ offer.ac }}</p>
   <p class="offer-row"><span class="underlined">Alvázszám:</span> {{ offer.vin }}</p>
   <p class="offer-row"><span class="underlined">Üzenet:</span> {{ offer.message }}</p>
   <textarea placeholder="Válaszüzenet..." #answer></textarea>

   <!-- Buttons -->
   <button mat-raised-button class="dialog-close-button" mat-dialog-close>Vissza</button>
   <button mat-raised-button class="dialog-ok-button" color="primary" mat-dialog-close (click)="answerOffer(offer, answer.value)">Válaszadás</button>
</ng-template>