<div class="content-container">
   
   <!-- Category #1 -->
   <div class="category-container" [routerLink]="['/products', {productCategory: 'Munkalámpák'}]">
      <div class="category-inner-container">

         <!-- Text -->
         <div class="text-container">
            <p class="title">SPANIFEREK</p>
            <p class="description">Jó minőségű, magas terhelhetőségű rakományrögzítő spaniferek nagy választékban.</p>
         </div>

         <!-- Background image -->
         <img src="https://firebasestorage.googleapis.com/v0/b/west-webshop.appspot.com/o/misc%2Fcat_ratchet.jpg?alt=media&token=9c8abb9b-22e5-4e4b-872e-3957e9bfffe2" class="category-img">
         <div class="shadow"></div>
      </div>
   </div>
   
   <!-- Category #2 -->
   <div class="category-container float-right" [routerLink]="['/products', {productCategory: 'Ablaktörlő lapátok'}]">
      <div class="category-inner-container">

         <!-- Text -->
         <div class="text-container">
            <p class="title">ABLAKTÖRLŐK</p>
            <p class="description">Univerzális ablaktörlők minden méretben, többféle foglalattal.</p>
         </div>

         <!-- Background image -->
         <img src="https://firebasestorage.googleapis.com/v0/b/west-webshop.appspot.com/o/misc%2Fcat_wipers.png?alt=media&token=94422e01-dba1-4065-a8f5-deee565c2d39" class="category-img">
         <div class="shadow"></div>
      </div>
   </div>

</div>
