.content-container {
   width: 100%;
   margin: 0 auto;
}

.content-inner-container {
   width: 1200px;
   margin: 0 auto;
   margin-bottom: 230px;
}

.title {
   font-size: 28px;
   text-align: center;
}

.triple-column-container {
   display: flex;
}

.triple-column-container input:first-child {
   width: 250%;
}

.double-column-container {
   display: flex;
}

.align-right {
   margin-right: 0;
}

.full-size {
   width: calc(100% - 58px);
}

.section-title {
   color: #444444;
   font-size: 20px;
   margin-left: 10px;
   font-weight: 500;
   line-height: 10%;
}

.checkbox-container {
   margin: 20px;
   width: 600px;
}

.tip-container {
   float: left;
   color: #888888;
   font-size: 16px;
   margin-left: 40px;
}

.checkbox-container mat-checkbox {
   float: left;
}

.button-container {
   float: right;
}

.input-email {
   width: 165px;
   margin: 0 10px 0 0;
}

.send-button {
   margin: 0 15px 0 0;
}

textarea {
   width: calc(100% - 35px);
   height: 90px;
   margin-right: 0;
}

.bold {
   font-weight: 600;
}

.allow-scroll {
   overflow: scroll;
}

/* To avoid turning placeholders upper case */
::-webkit-input-placeholder {
   text-transform: none;
}

:-moz-placeholder {
   text-transform: none;
}

::-moz-placeholder {
   text-transform: none;
}

:-ms-input-placeholder {
   text-transform: none;
}

::placeholder {
   text-transform: none;
}

@media screen and (max-width: 1200px) {
   .content-inner-container {
      width: calc(100% - 80px);
      margin-left: 40px;
   }
}

@media screen and (max-width: 950px) {
   .triple-column-container input:first-child {
      width: 140%;
   }

   .triple-column-container input:nth-child(2) {
      width: 30%;
   }
}

@media screen and (max-width: 700px) {
   .triple-column-container,
   .double-column-container {
      display: block;
   }

   .content-inner-container .triple-column-container input,
   .double-column-container input {
      width: calc(100% - 58px);
   }

   .content-inner-container .triple-column-container select {
      width: calc(100% - 8px);
   }
}

@media screen and (max-width: 500px) {
   .button-container {
      display: grid;
   }

   .send-button {
      margin-top: 15px;
   }
}