<div class="content-container">


   <mat-card class="menu-card">

      <!-- Menu Label -->
      <p class="card-title">Lehetőségek</p>
      <mat-divider class="divider"></mat-divider>

      <!-- Menu options -->
      <div class="options-container">
         <p class="menu-option" [ngClass]="{'active': step == 0}" (click)="step = 0;">Személyes adatok</p>
         <p class="menu-option" [ngClass]="{'active': step == 1}" (click)="step = 1;">Címek kezelése</p>
         <p class="menu-option" [ngClass]="{'active': step == 2}" (click)="step = 2;">Garázs</p>
         <p class="menu-option" [ngClass]="{'active': step == 3}" (click)="step = 3;">Kívánságlista</p>
         <p class="menu-option" [ngClass]="{'active': step == 4}" (click)="step = 4;">Árajánlatok</p>
         <p class="menu-option" [ngClass]="{'active': step == 5}" (click)="step = 5;">Rendelések</p>
         <p class="menu-option" [ngClass]="{'active': step == 6}" (click)="step = 6;">Kijelentkezés</p>
      </div>

   </mat-card>



   <mat-card class="main-card">

      <!-- Personal data section -->
      <div *ngIf="step == 0">
         <p class="card-title">Személyes adatok</p>
         <mat-divider></mat-divider>

         <div class="dashboard-container">
            <p>Név</p>
            <input placeholder="Példa Név">
            <p>E-mail cím</p>
            <input placeholder="pelda@gmail.com">
            <p>Telefonszám</p>
            <input placeholder="+36 30 123 4567">
            <br>

            <button mat-raised-button color="primary" class="save-button">Adatok mentése</button>
         </div>
      </div>

      <!-- Orders section -->
      <div *ngIf="step == 5">
         <p class="card-title">Rendeléseid</p>
         <mat-divider></mat-divider>

         <div class="dashboard-container">
            <table class="table">
               <thead>
                  <th>Dátum</th>
                  <th>Ár</th>
               </thead>

               <tbody>
                  <tr *ngFor="let order of orders">
                     <td>{{ timestampToDate(order.date).toLocaleString() }}</td>
                     <td>{{ order.totalPrice }}</td>
                     <td>
                        <button mat-raised-button color="primary" (click)="openDialog(order)">Részletek</button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

   </mat-card>


</div>


<ng-template #dialogRef let-order>
   <p class="dialog-title">Rendelés: {{ timestampToDate(order.date).toLocaleString() }}</p>
   <div *ngIf="order">

      <!-- List all products in the Order-->
      <table class="table">
         <thead>
            <th>Kép</th>
            <th>Megnevezés</th>
            <th>Mennyiség</th>
            <th class="center">Ár</th>
         </thead>

         <tbody>
            <tr *ngFor="let product of order.orderedProducts">

               <td class="image-column">
                  <img [src]="sanitize(product.imgurl.replace('[', '').replace(']', '').replace('/t_t100x100v2', ''))" class="product-img">
               </td>

               <td class="info-column">
                  <div class="info-container">
                     <p [routerLink]="['/product', product.partNumber]" class="part-number" mat-dialog-close>{{ product.partNumber }}</p>
                     <p class="name">{{ product.name }}</p>
                     <p class="brand">{{ product.brand }}</p>
                  </div>
               </td>

               <td class="amount-column">
                  <p>{{ product.quantity }} db.</p>
               </td>

               <td class="price-column">
                  <div class="price-container">
                     <p class="price">{{ formatPriceToString(addTax(product.price)) }}</p>
                     <p class="net-price">({{ formatPriceToString(product.price) }} + 27% ÁFA)</p>
                  </div>
               </td>

            </tr>

            <tr class="total-row">
               <td></td>
               <td></td>
               <td></td>
               <td class="price-column total-column">
                  <div class="price-container">
                     <p>Szállítás: {{ formatPriceToString(order.deliveryPrice) }}</p>
                     <p>Végösszeg: {{ formatPriceToString(addTax(order.totalPrice)) }}</p>
                     
                  </div>
               </td>
            </tr>

         </tbody>
      </table>

      <mat-divider></mat-divider>

      <!-- Other information about the Order-->
      <div>
         <div class="quarter-container">
            <p class="quarter-title">Alap adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.shippingAddress.name }}</p>
               <p>{{ order.shippingAddress.email }}</p>
               <p>{{ order.shippingAddress.phoneNumber }}</p>
               <p>{{ order.shippingAddress.address }}</p>
               <p *ngIf="order.shippingAddress.comment">{{ order.shippingAddress.comment }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Számlázási adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.billingAddress.name }}</p>
               <p>{{ order.billingAddress.address }}</p>
               <p *ngIf="order.billingAddress.taxNumber">{{ order.billingAddress.taxNumber }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Átvétel</p>
            <div class="quarter-text-container">
               <p>Házhozszállítás</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Fizetés</p>
            <div class="quarter-text-container">
               <p>Utánvét</p>
            </div>
         </div>
      </div>

   </div>
   <button mat-raised-button class="dialog-close-button" color="primary" mat-dialog-close>Vissza</button>
</ng-template>