.content-container {
   width: 1200px;
   margin: 0 auto;
   margin-top: 100px;
}

.menu-card {
   position: relative;
   left: 21%;
   width: 18%;
   height: 540px;
   box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
   float: left;
}

.main-card {
   width: 50%;
   height: 540px;
   box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
   float: right;
}

.card-title {
   font-size: 20px;
   margin: 0;
}

.options-container>p {
   width: calc(100%);
   padding: 8px 16px;
   margin: 0;
   margin-left: -16px;
   cursor: pointer;
   transition: 0.25s;
}

.active {
   color: var(--color-primary);
}

.options-container>p::before {
   position: absolute;
   opacity: 0;
   left: 0;
   min-width: 5px !important;
   height: 40px;
   margin-top: -8px;
   background-color: var(--color-primary);
   content: "";
   transition: 0.25s;
}

.options-container>p.active::before {
   opacity: 1;
}

.options-container>p:hover {
   background-color: rgb(241, 241, 241);
   color: var(--color-primary);
   transition: 0.25s;
}

.dashboard-container {
   margin-top: 15px;
}

.dashboard-container p {
   margin-bottom: 0;
   margin-top: 8px;
}

.save-button {
   margin-top: 15px;
}

.table {
   width: 100%;
}

.table th {
   text-align: left;
}

.table th.center {
   text-align: center;
}

.img-container {
   display: flex;
   width: 150px;
   margin: 10px 0px;
   justify-content: center;
   align-items: center;
}

/* Order modal styles */
.product-img {
   height: 70px;
}

.info-container {
   line-height: 30%;
   margin-top: -8px;
}

.price-container {
   line-height: 10%;
   text-align: center;
   margin-right: 20px;
   font-weight: 500;
}

.price {
   font-size: 18px;
   color: var(--color-primary);
   font-weight: 500;
}

.net-price {
   color: #666666;
   font-size: 11px;
}

.part-number {
   width: fit-content;
   font-size: 18px;
   color: #444444;
   font-weight: 500;
   cursor: pointer;
}

.part-number:hover {
   color: var(--color-primary);
}

.name {
   color: #444444;
   margin-top: -1px;
   font-weight: 500;
}

.brand {
   font-size: 13px;
   font-weight: 500;
   color: #7a7a7a;
}

.total-row {
   height: 50px;
}

.total-column {
   border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.quarter-container {
   width: 44%;
   height: 50%;
   float: left;
   margin: 20px;
   text-align: center;
}

.quarter-title {
   color: #a6a6a6;
   margin: 0 0 2px 0;
}

.quarter-text-container>p {
   margin: 0;
}

.dialog-close-button {
   float: right;
   clear: both;
   margin-right: 40px;
   padding: 0px 40px;
}

.center {
   text-align: center;
}

input {
   margin: 0;
   width: 50%;
}