<div class="content-container">
   <div class="content-inner-container">

      <!-- Menu card on the left -->
      <mat-card class="menu-card">

         <!-- Menu Label -->
         <p class="card-title">Lehetőségek</p>
         <mat-divider class="divider"></mat-divider>

         <!-- Menu options -->
         <div class="options-container">
            <p class="menu-option" [ngClass]="{'active': step == 0}" (click)="step = 0;">Személyes adatok</p>
            <p class="menu-option" [ngClass]="{'active': step == 1}" (click)="step = 1;">Rendelések</p>
            <p class="menu-option" [ngClass]="{'active': step == 2}" (click)="step = 2;">Cím módosítása</p>
            <p class="menu-option" [ngClass]="{'active': step == 3}" (click)="step = 3;">Kívánságlista</p>
            <p class="menu-option" [ngClass]="{'active': step == 4}" (click)="step = 4;">Árajánlatok</p>
            <p class="menu-option" [ngClass]="{'active': step == 5}" (click)="step = 5;">Garázs</p>
            <p class="menu-option" [ngClass]="{'active': step == 6}" (click)="step = 6;">Kijelentkezés</p>
         </div>

      </mat-card>

      <!-- Card on the right -->
      <mat-card class="main-card">

         <!-- Personal data section -->
         <div *ngIf="step == 0">
            <p class="card-title">Személyes adatok</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">
               <p>E-mail cím</p>
               <input placeholder="pelda@gmail.com" [value]="getEmail()" disabled>
               <p>Név</p>
               <input placeholder="Példa Név" [value]="getName()" #name>
               <p>Telefonszám</p>
               <input placeholder="+36 30 123 4567" [value]="getPhoneNumber()" #phone>
               <br>

               <button mat-raised-button color="primary" class="save-button" (click)="updateBasicUserInfo(name.value, phone.value)">Adatok mentése</button>
            </div>
         </div>

         <!-- Orders section -->
         <div *ngIf="step == 1">
            <p class="card-title">Rendeléseid</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">

               <!-- Order table if there are any orders -->
               <table *ngIf="currentUser && orders && orders.length > 0" class="table">
                  <thead>
                     <th>Dátum</th>
                     <th>Ár</th>
                  </thead>

                  <tbody>
                     <tr *ngFor="let order of orders">
                        <td>{{ timestampToDate(order.date).toLocaleString() }}</td>
                        <td>{{ formatPriceToString(addTax(order.totalPrice)) }}</td>
                        <td>
                           <button mat-raised-button color="primary" (click)="openOrderDialog(order)">Részletek</button>
                        </td>
                     </tr>
                  </tbody>
               </table>

               <!-- No orders yet text -->
               <div *ngIf="currentUser && orders && orders.length < 1">
                  Nincsen korábbi rendelésed.
               </div>
            </div>
         </div>

         <!-- Address section -->
         <div *ngIf="step == 2">
            <p class="card-title">Cím módosítása</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">
               <div class="input-left">
                  <p>Irányítószám</p>
                  <input placeholder="7100" [value]="getZip()" #zip>
               </div>

               <div class="input-right">
                  <p>Település</p>
                  <input placeholder="Szekszárd" [value]="getCity()" #city>
               </div>

               <p>Utca, házszám</p>
               <input placeholder="Példa utca 12." [value]="getStreet()" #street>
               <p>Adószám (ha van)</p>
               <input placeholder="21428942-2-17" [value]="getTaxNumber()" #taxNumber>
               <br>

               <button mat-raised-button color="primary" class="save-button" (click)="updateUserAddress(zip.value, city.value, street.value, taxNumber.value)">Adatok mentése</button>
            </div>
         </div>

         <!-- Wish list section -->
         <div *ngIf="step == 3">
            <p class="card-title">Kívánságlista</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">

               <table *ngIf="currentUser && currentUser.wishList.length > 0" class="wishlist-table">
                  <tbody>
                     <tr *ngFor="let product of currentUser.wishList; let i = index;" class="wishlist-row">
                        <div class="wishlist-product-info-container" [routerLink]="['/product', product.partNumber]">
                           <td>{{ (i+1) }}.</td>
                           <td>{{ product.partNumber }}</td>
                           <td>{{ product.name }}</td>
                           <td>{{ product.brand }}</td>
                        </div>
                        <td>
                           <mat-icon class="wishlist-delete-icon" (click)="removeWishListProduct(product)">close</mat-icon>
                           <mat-divider></mat-divider>
                        </td>
                     </tr>
                  </tbody>
               </table>

               <!-- No wishlist yet text -->
               <div *ngIf="currentUser && currentUser.wishList.length < 1">
                  Nincsen terméked a kívánságlistádban.
               </div>

            </div>
         </div>

         <!-- Offers section -->
         <div *ngIf="step == 4">
            <p class="card-title">Árajánlatok</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">

               <!-- Offer table if there are any offers -->
               <table *ngIf="offers && offers.length > 0" class="table">
                  <thead>
                     <th>Dátum</th>
                     <th>Státusz</th>
                  </thead>

                  <tbody>
                     <tr *ngFor="let offer of offers">
                        <td>{{ timestampToDate(offer.date).toLocaleString() }}</td>
                        <td *ngIf="offer.answered" class="offer-answered">Megválaszolva</td>
                        <td *ngIf="!offer.answered" class="offer-pending">Feldolgozás alatt</td>
                        <td>
                           <button mat-raised-button color="primary" (click)="openOriginalOfferDialog(offer)">Eredeti üzenet</button>
                        </td>
                        <td *ngIf="offer.answered">
                           <button mat-raised-button color="primary" (click)="openAnsweredOfferDialog(offer)">Válasz üzenet</button>
                        </td>
                     </tr>
                  </tbody>
               </table>

               <!-- No orders yet text -->
               <div *ngIf="offers && offers.length < 1">
                  Még nem kértél árajánlatot.
               </div>
            </div>
         </div>

         <!-- Garage section -->
         <div *ngIf="step == 5">
            <p class="card-title">Garázs</p>
            <mat-divider></mat-divider>

            <div class="dashboard-container">

               <!-- Cars table if there are any cars -->
               <table *ngIf="cars && cars.length > 0" class="table">
                  <tbody>
                     <tr *ngFor="let car of cars; let i = index;" class="car-row">
                        <div class="garage-car-container" [routerLink]="['/car', car.carIndex]">
                           <td class="garage-index">{{ (i+1) }}.</td>
                           <td class="garage-brand">{{ car.brand }}</td>
                           <td class="garage-chassis text-limit">{{ car.chassis }}</td>
                           <td class="garage-year">{{ car.year }}</td>
                           <td class="garage-engine text-limit">{{ car.engine }}</td>
                           <td class="garage-engine-code text-limit">{{ car.engineCode }}</td>
                        </div>
                        <td>
                           <mat-icon class="garage-delete-icon" (click)="removeGarageCar(car)">close</mat-icon>
                           <mat-divider></mat-divider>
                        </td>
                  </tbody>
               </table>

               <!-- No cars yet text -->
               <div *ngIf="cars && cars.length < 1">
                  Még nem raktál autót a garázsba.
               </div>
            </div>

         </div>

         <!-- Logout section -->
         <div *ngIf="step == 6">
            <p class="card-title">Biztosan ki szeretnél jelentkezni?</p>
            <mat-divider></mat-divider>

            <button mat-raised-button color="warn" class="logout-button">Kijelentkezés</button>

         </div>

      </mat-card>

   </div>
</div>

<!-- Dialog that opens when inspecting an Order -->
<ng-template #orderDialogRef let-order>
   <p class="dialog-title">Rendelés: {{ timestampToDate(order.date).toLocaleString() }}</p>
   <div *ngIf="order">

      <!-- List all products in the Order-->
      <table class="table">
         <thead>
            <th>Kép</th>
            <th>Megnevezés</th>
            <th>Mennyiség</th>
            <th class="center">Ár</th>
         </thead>

         <tbody>
            <tr *ngFor="let product of order.orderedProducts">

               <td class="image-column">
                  <img [src]="sanitize(product.imgurl.replace('[', '').replace(']', '').replace('/t_t100x100v2', ''))" class="product-img">
               </td>

               <td class="info-column">
                  <div class="info-container">
                     <p [routerLink]="['/product', product.partNumber]" class="part-number" mat-dialog-close>{{ product.partNumber }}</p>
                     <p class="name">{{ product.name }}</p>
                     <p class="brand">{{ product.brand }}</p>
                  </div>
               </td>

               <td class="amount-column">
                  <p>{{ product.quantity }} db.</p>
               </td>

               <td class="price-column">
                  <div class="price-container">
                     <p class="price">{{ formatPriceToString(addTax(product.price)) }}</p>
                     <p class="net-price">({{ formatPriceToString(product.price) }} + 27% ÁFA)</p>
                  </div>
               </td>

            </tr>

            <tr class="total-row">
               <td></td>
               <td></td>
               <td></td>
               <td class="price-column total-column">
                  <div class="price-container">
                     <p>Szállítás: {{ formatPriceToString(order.deliveryPrice) }}</p>
                     <p>Végösszeg: {{ formatPriceToString(addTax(order.totalPrice)) }}</p>
                  </div>
               </td>
            </tr>

         </tbody>
      </table>

      <mat-divider></mat-divider>

      <!-- Other information about the Order-->
      <div>
         <div class="quarter-container">
            <p class="quarter-title">Alap adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.shippingAddress.name }}</p>
               <p>{{ order.shippingAddress.email }}</p>
               <p>{{ order.shippingAddress.phoneNumber }}</p>
               <p>{{ order.shippingAddress.address }}</p>
               <p *ngIf="order.shippingAddress.comment">{{ order.shippingAddress.comment }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Számlázási adatok</p>
            <div class="quarter-text-container">
               <p>{{ order.billingAddress.name }}</p>
               <p>{{ order.billingAddress.address }}</p>
               <p *ngIf="order.billingAddress.taxNumber">{{ order.billingAddress.taxNumber }}</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Átvétel</p>
            <div class="quarter-text-container">
               <p>Házhozszállítás</p>
            </div>
         </div>

         <div class="quarter-container">
            <p class="quarter-title">Fizetés</p>
            <div class="quarter-text-container">
               <p>Utánvét</p>
            </div>
         </div>
      </div>

   </div>
   <button mat-raised-button class="dialog-close-button" color="primary" mat-dialog-close>Vissza</button>
</ng-template>

<!-- Dialog that opens when inspecting an Offer's original question -->
<ng-template #offerOriginalDialogRef let-offer>
   <p class="dialog-title">Árajánlat: {{ timestampToDate(offer.date).toLocaleString() }}</p>
   <div *ngIf="offer">
      <p>{{ offer.message }}</p>
      <button mat-raised-button class="dialog-close-button" color="primary" mat-dialog-close>Vissza</button>
   </div>
</ng-template>

<!-- Dialog that opens when inspecting an Offer's original question -->
<ng-template #offerAnsweredDialogRef let-offer>
   <p class="dialog-title">Árajánlat: {{ timestampToDate(offer.date).toLocaleString() }}</p>
   <div *ngIf="offer">
      <p>{{ offer.answer }}</p>
      <button mat-raised-button class="dialog-close-button" color="primary" mat-dialog-close>Vissza</button>
   </div>
</ng-template>