
<div class="content-container">

   <p class="title">Egyéb termékeink</p>
   <table class="table">
      <tbody>
         <tr>

            <td>
               <div class="main-category-container" (click)="selectedCategoryIndex = 0">
                  <div class="main-category-inner-container" [ngClass]="{'active': selectedCategoryIndex == 0}">
                     <div class="category-title-container">
                        <p>AUTÓÁPOLÁS</p>
                     </div>
                     <img src="https://media.istockphoto.com/id/1140002222/photo/worker-cleaning-car-dashboard.jpg?s=612x612&w=0&k=20&c=oetLRXaID_kC8vZwgqSOtJRjjZYXwLn93q8PsJJFnOA=" class="main-category-img">
                     <div class="shadow"></div>
                  </div>
               </div>
            </td>

            <td>
               <div class="main-category-container" (click)="selectedCategoryIndex = 1">
                  <div class="main-category-inner-container" [ngClass]="{'active': selectedCategoryIndex == 1}">
                     <div class="category-title-container">
                        <p>BELTÉR</p>
                     </div>
                     
                     <img src="https://images.unsplash.com/photo-1471174617910-3e9c04f58ff5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&w=1000&q=80" style="position: relative; top: -50px;"  class="main-category-img">
                     <div class="shadow"></div>
                  </div>
               </div>
            </td>

            <td>
               <div class="main-category-container" (click)="selectedCategoryIndex = 2">
                  <div class="main-category-inner-container" [ngClass]="{'active': selectedCategoryIndex == 2}">
                     <div class="category-title-container">
                        <p>KÜLTÉR</p>
                     </div>
                     
                     <img src="https://m.media-amazon.com/images/I/71M76Xs2K1L.jpg" style="position: relative; top: -80px;" class="main-category-img">
                     <div class="shadow"></div>
                  </div>
               </div>
            </td>

            <td>
               <div class="main-category-container" (click)="selectedCategoryIndex = 3">
                  <div class="main-category-inner-container" [ngClass]="{'active': selectedCategoryIndex == 3}">
                     <div class="category-title-container">
                        <p>FOLYADÉKOK</p>
                     </div>
                     
                     <img src="https://img5.goodfon.com/wallpaper/nbig/b/65/maslo-motor-dvigatel-zhidkost.jpg" class="main-category-img">
                     <div class="shadow"></div>
                  </div>
               </div>
            </td>

         </tr>
      </tbody>
   </table>

   <!-- Show selected categories below -->
   <div>

      <!-- Car care -->
      <mat-card *ngIf="selectedCategoryIndex == 0" class="categories-container">
         <ul>
            <li [routerLink]="['/products', { specialCategory: 0 }]">Ablaktisztítás</li>
            <li [routerLink]="['/products', { specialCategory: 1 }]">Kefék törlőkendők</li>
            <li [routerLink]="['/products', { specialCategory: 2 }]">Motorblokk tisztítás</li>
            <li [routerLink]="['/products', { specialCategory: 3 }]">Felni tisztítás</li>
            <li [routerLink]="['/products', { specialCategory: 4 }]">Polírozás</li>
         </ul>
      </mat-card>

      <!-- Interior -->
      <mat-card *ngIf="selectedCategoryIndex == 1" class="categories-container">
         <ul>
            <li [routerLink]="['/products', { specialCategory: 5 }]">Üléshuzatok</li>
            <li [routerLink]="['/products', { specialCategory: 6 }]">Kormányvédők</li>
            <li [routerLink]="['/products', { specialCategory: 7 }]">Autószőnyegek</li>
            <li [routerLink]="['/products', { specialCategory: 8 }]">Szivargyújtó</li>
            <li [routerLink]="['/products', { specialCategory: 9 }]">Illatosítók</li>
            <li [routerLink]="['/products', { specialCategory: 10 }]">Belső ventilátorok</li>
         </ul>
      </mat-card>

      <!-- Exterior -->
      <mat-card *ngIf="selectedCategoryIndex == 2" class="categories-container">
         <ul>
            <li [routerLink]="['/products', { specialCategory: 11 }]">Ablaktörlő lapátok</li>
            <li [routerLink]="['/products', { specialCategory: 12 }]">Hátsó lámpák</li>
            <li [routerLink]="['/products', { specialCategory: 13 }]">Gumilámpák, izzós</li>
            <li [routerLink]="['/products', { specialCategory: 14 }]">Gumilámpák, LED</li>
            <li [routerLink]="['/products', { specialCategory: 15 }]">Helyzetjelzők izzós</li>
            <li [routerLink]="['/products', { specialCategory: 16 }]">Helyzetjelzők, LED</li>
            <li [routerLink]="['/products', { specialCategory: 17 }]">Munkalámpák, izzós</li>
            <li [routerLink]="['/products', { specialCategory: 18 }]">Munkalámpák, LED</li>
            <li [routerLink]="['/products', { specialCategory: 19 }]">Megkülönböztető lámpák, izzós</li>
            <li [routerLink]="['/products', { specialCategory: 20 }]">Megkülönböztető lámpák, LED</li>
            <li [routerLink]="['/products', { specialCategory: 21 }]">Dísztárcsák</li>
            <li [routerLink]="['/products', { specialCategory: 22 }]">Tanksapkák</li>
            <li [routerLink]="['/products', { specialCategory: 23 }]">Rendszámtábla tartók</li>
            <li [routerLink]="['/products', { specialCategory: 24 }]">Fényvisszaverők</li>
         </ul>
      </mat-card>

      <!-- Fluids -->
      <mat-card *ngIf="selectedCategoryIndex == 3" class="categories-container">
         <ul>
            <li [routerLink]="['/products', { specialCategory: 25 }]">Hajtómű olaj</li>
            <li [routerLink]="['/products', { specialCategory: 26 }]">Fagyálló</li>
            <li [routerLink]="['/products', { specialCategory: 27 }]">Nyári ablakmosó folyadék</li>
            <li [routerLink]="['/products', { specialCategory: 28 }]">Téli ablakmosó folyadék</li>
         </ul>
      </mat-card>

   </div>

</div>