/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body{
    background-color: #ededed;
}

.mat-drawer-inner-container {
   overflow-y: scroll !important;
}

.select-panel {
   margin-top: 26px !important; 
   margin-right: 20px !important;
   right: 50px !important;
}
