<div style="max-width: 1920px;">
    <img src="assets/blurred5.png" style="max-width:100%;" class="bcg-image"/>
</div>

<p class="main-label">Válaszd ki egyszerűen autód típusát</p>
<p class="smaller-label">Vagy bízd ránk, és kérj árajánlatot 1 munkanapon belül</p>

<button class="carselect-button" mat-raised-button color="warn" (click)="onCarSelectorButtonClick()">Jármű kiválasztása</button>
<button class="offer-button" mat-raised-button color="warn" (click)="onOfferButtonClick()">Árajánlat kérése</button>

